@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap')

main_font = "Carrois Gothic"
background = #EDEDEE
secondary_background = #E3E3E3
main_font_color = black
main_font_size = 20px
small_font_size = 14px
title_color = #3C6E71
secondary_color = #284B63
secondary_font_color = white
tertiary_color = #2E848A
top_level_background = #383838
second_level_background = #666666
alternate_background = #D9D9D9

small_padding = 10px
medium_padding = 20px
main_padding = 30px
extra_padding = 50px