@require 'parameters'

body
  background-color: background
  font-family: main_font
  color: main_font_color
  .container
    display: flex
    .sidebar
      display: flex
      flex-direction: column
      width: sidebar_width
      .top-level
        background-color: top_level_background
        color: secondary_font_color
    .main-content
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      .columns
        display: grid
        grid-template-columns: 1fr 1fr
        grid-auto-flow: dense
        place-items: center stretch
        img
          width: 100%
        &>*
          background-color: secondary_background