@require 'parameters'

body
  background-color: background
  margin: 0
  font-family: main_font
  font-size: main_font_size
  color: main_font_color

  a, .nav-link
    text-decoration: none
    color: secondary_color
    cursor: pointer
  h1
  h2
  h3
    margin: 0
    text-align: center  
  h1
    font-size: h1_size
    color: secondary_color
  h2
    font-size: h2_size
    color: title_color
  h3
    font-size: h3_size
    color: title_color

  h1.home
    font-size: large_h1_size
  h2.home
    font-size: large_h2_size
  h3.home
    font-size: large_h3_size

  .button
    color: secondary_font_color
    background-color: secondary_color
    display: block
    padding: button_padding
    border: button_border
    border-radius: button_radius
    cursor: pointer
    text-align: center

  pre
    padding: small_padding
    background-color: secondary_background
    margin: 0
    overflow-x: auto
  code
    margin: small_padding 0
    display: block

  #header-bar
    display: flex
    justify-content: space-between
    align-items: center
    padding: small_padding header_padding
    .header-link
      display: flex
      align-items: center
      gap: medium_padding
      font-size: header_title_size
      font-weight: bold
      img
        width: header_icon_size
        height: header_icon_size
    .social
      display: flex
      gap: medium_padding
      img
        width: social_icon_size
        height: social_icon_size

  #navbar
    display: flex
    justify-content: flex-end
    background-color: secondary_color
    padding: small_padding
    gap: medium_padding
    font-size: navbar_font_size
    position: relative
    a
      color: secondary_font_color
    .search-result-dropdown
      position: absolute
      top: 100%
      background-color: secondary_font_color
      list-style: none
      margin: 0
      padding: small_padding
      li
        margin: small_padding 0
      a
        color: main_font_color
      .search-meta
        font-size: small_font_size
        color: top_level_background
        font-style: italic

  #container
    display: flex
    justify-content: center
    #inner-container
      flex: 1
      display: flex
      flex-direction: column
      margin: container_margin
      max-width: container_width
      #splash-container
        display: flex
        flex-direction: column
        align-items: center
        background-image: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80")
        background-position: center
        color: secondary_font_color
        padding: splash_padding
        gap: splash_spacing
        .button
          background-color: splash_button_background 
          color: secondary_font_color
          font-size: splash_button_font_size
        h1
        h2
        h3
          color: secondary_font_color
      #contributing-guide
        display: flex
        flex-direction: column
        padding: medium_padding
        gap: medium_padding
      &.logpile
        align-items: center
        gap: main_padding
        .logpile-row
          display: grid
          grid-template-columns: 2fr 1fr 1fr 1fr 1fr
          gap: small_padding
          padding: logpile_row_padding
          align-items: center
          .logpile-header
            font-weight: bold
          &.top-level
            background-color: top_level_background
            color: secondary_font_color
          &.second-level
            background-color: second_level_background
            color: secondary_font_color
            .logpile-category
              padding-left: logpile_list_indent
          &.child
            &:nth-child(odd)
              background-color: alternate_background
            .logpile-category
              padding-left: logpile_list_indent * 2
        .script-block
          width: 100%
          display: flex
          flex-direction: column
          gap: medium_padding
          background-color: tertiary_color
          padding: medium_padding
          .script-header
            display: flex
            align-items: center
            justify-content: space-between
            color: secondary_font_color
            .script-label
              padding: small_padding
            .script-controls
              display: flex
              gap: medium_padding
              .button
                padding: small_padding
              .icon-button
                width: logpile_icon_button_size
                height: logpile_icon_button_size 
                background-color: background
                padding: logpile_icon_button_padding
                cursor: pointer
          pre
            font-size: small_font_size
      &.blog
        gap: main_padding
      article
        display: flex
        flex-direction: column
        gap: extra_padding
        img
          width: info_width
          align-self: center
      .nuxt-content
        background-color: secondary_background
        padding: main_padding
        display: flex
        flex-direction: column
        gap: medium_padding
        h1
        h2
        h3
          text-align: left
          color: title_color
      .page-feed
        display: flex
        flex-direction: column
        gap: main_padding
        .feed-nav
          display: flex
          gap: extra_padding
          justify-content: center
      .blog-posts, .search-results
        display: grid
        grid-template-columns: 1fr 1fr
        gap: main_padding
        align-items: start
      .blog-posts
        .page-card
          &:first-child, &:nth-child(even):last-child
            grid-column: 1 / 3
          &:nth-child(even):last-child
            width: 50%
            justify-self: center
          &:first-child
            img
              max-height: page_card_max_image_height

    #sidebar
      display: flex
      flex-direction: column
      width: sidebar_width
      input[type="checkbox"]
        display: none
        & ~ label:after
          content: '-'
        &:checked 
          & ~ .sidebar-list
            display: none
          & ~ label:after
            content: '+'
      .sidebar-element
        display: flex
        justify-content: space-between
        padding: small_padding
      .top-level
        background-color: top_level_background
        color: secondary_font_color
        font-weight: bold
      .mid-level
        background-color: second_level_background
        color: secondary_font_color
      .inner-level
        background-color: alternate_background
        color: main_font_color
        font-size: small_font_size
      .selected
        background-color: main_font_color
        color: alternate_background
    #main-content
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      padding: main_padding
      gap: main_padding
      .columns
        display: grid
        grid-template-columns: 1fr 1fr
        grid-auto-flow: dense
        place-items: center
        gap: main_padding
        width: 100%
        img
          max-width: 100%
        p
          background-color: secondary_background
          padding: extra_padding
        &>*:nth-child(4n - 1)
          grid-column: 2
        &>*:nth-child(4n)
          grid-column: 1
        &>*:nth-child(4n - 1):last-child
          grid-column: 1
        &>*.wide
          grid-column: 1 / 3
  .title-block
    display: flex
    flex-direction: column
    align-items: center
    gap: extra_padding
    width: 100%
    .header-block
      display: flex
      flex-direction: column
      align-items: center

    .compliance-block
      display: flex
      flex-direction: column
      align-items: center
      gap: medium_padding
  .author-icon
    width: author_icon_size !important
  .info
    background-color: secondary_background
    padding: medium_padding
    width: info_width
    text-align: center
  .info-block
    display: flex
    flex-direction: column
    align-items: center
    gap: small_padding
    align-self: stretch
  .about-section
    font-size: about_font_size
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: secondary_background;
    padding: main_padding about_section_padding about_section_padding
    gap: extra_padding
    margin: extra_padding about_section_margin
  .credits
    display: flex
    flex-direction: column
    gap: medium_padding
    width: info_width
  .row
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: main_padding 0
    margin: main_padding 0
    .column
      flex: 1 1 column_width
      display: flex
      flex-direction: column
      align-items: center
      font-size: column_font_size
      color: column_font_color
      padding: column_padding
      gap: main_padding
      &:nth-child(odd)
        background-color: secondary_background
      h2
        color: title_color
      p
        flex: 1
  .logpile-section
    display: flex
    flex-direction: column
    width: info_width
    background-color: tertiary_color
    padding: medium_padding
    gap: medium_padding
    font-size: small_font_size
    .script-language
      font-size: main_font_size
      color: secondary_font_color
    .button
      padding: logpile_button_padding
    .disabled
      background-color: top_level_background
    .enabled
      background-color: logpile_enabled_color
    .script-info
      display: flex
      justify-content: space-between
      align-items: center
      gap: medium_padding
      background-color: transparent
    .quick-script
      display: flex
      align-items: flex-start
      gap: medium_padding
      pre
        flex: 1
        padding: code_padding
      .quick-script-controls
        flex-basis: logpile_controls_size
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: medium_padding
        .script-label
          color: secondary_font_color
          font-size: main_font_size
        .quick-script-icon-buttons
          display: flex
          gap: medium_padding
          .icon-button
            width: logpile_icon_button_size
            height: logpile_icon_button_size 
            background-color: background
            padding: logpile_icon_button_padding
            cursor: pointer
  .tooltip
    display: block
    z-index: 10000
    .tooltip-inner
      background-color: main_font_color
      color: alternate_background
      padding: small_padding
      border-radius: tooltip_radius
      font-size: small_font_size
    .tooltip-arrow
      width: 0
      height: 0
      margin: small_padding
  .page-card
    background-color: secondary_background
    display: flex
    flex-direction: column
    gap: 0
    font-size: excerpt_font_size
    h3
      text-align: left
    .card-link
      display: flex
      flex-direction: column
      gap: medium_padding
      padding: medium_padding
    .excerpt
      color: second_level_background
    .more
      font-size: main_font_size
    .author-block
      background-color: background
      padding: medium_padding
      width: 100%
      .article-info
        flex-direction: column
        align-items: flex-start
        gap: small_padding
    img
      width: 100%
      max-height: page_card_max_image_height
      object-fit: cover
  .author-block
    display: flex
    align-items: center
    width: info_width
    gap: medium_padding
    a
      display: flex
      align-items: center
      gap: medium_padding
    .article-info
      display: flex
      align-items: center
      gap: medium_padding
  footer
    padding: extra_padding
    display: flex
    align-items: flex-start
    justify-content: center
    gap: main_padding
    background-color: secondary_color
    .page-card
      width: page_card_width
  .author-pages
    display: flex
    flex-direction: column
    padding: main_padding 0
    gap: main_padding
  .tags
    display: flex
    gap: medium_padding
    justify-content: center
