@require 'common'

sidebar_width = 300px

body
  background-color: background
  margin: 0
  font-family: main_font
  font-size: main_font_size
  color: main_font_color

  a
    text-decoration: none
    color: secondary_color
  h1
  h2
  h3
    margin: 0
    text-align: center  
  h1
    font-size: h1_size
    color: secondary_color
  h2
    font-size: h2_size
    color: title_color
  h3
    font-size: h3_size
    color: title_color

  h1.home
    font-size: large_h1_size
  h2.home
    font-size: large_h2_size
  h3.home
    font-size: large_h3_size

  .button
    color: secondary_font_color
    background-color: secondary_color
    display: block
    padding: button_padding
    border: button_border
    border-radius: button_radius
    cursor: pointer
    text-align: center

  pre
    padding: small_padding
    background-color: secondary_background
    margin: 0
    overflow-x: auto
  code
    margin: small_padding 0
    display: block

  #container
    display: flex
    justify-content: center
    #inner-container
      flex: 1
      display: flex
      flex-direction: column
      margin: container_margin
      max-width: container_width
      #splash-container
        display: flex
        flex-direction: column
        align-items: center
        background-image: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80")
        background-position: center
        color: secondary_font_color
        padding: splash_padding
        gap: splash_spacing
        .button
          background-color: splash_button_background 
          color: secondary_font_color
          font-size: splash_button_font_size
        h1
        h2
        h3
          color: secondary_font_color
    #sidebar
      display: flex
      flex-direction: column
      width: sidebar_width
      input[type="checkbox"]
        display: none
        & ~ label:after
          content: '-'
        &:checked 
          & ~ .sidebar-list
            display: none
          & ~ label:after
            content: '+'
      .sidebar-element
        display: flex
        justify-content: space-between
        padding: small_padding
      .top-level
        background-color: top_level_background
        color: secondary_font_color
        font-weight: bold
      .mid-level
        background-color: second_level_background
        color: secondary_font_color
      .inner-level
        background-color: alternate_background
        color: main_font_color
        font-size: small_font_size
    #main-content
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      padding: main_padding
      gap: main_padding
      .title-block
        display: flex
        flex-direction: column
        gap: extra_padding
      .columns
        display: grid
        grid-template-columns: 1fr 1fr
        grid-auto-flow: dense
        place-items: center stretch
        gap: main_padding
        width: 100%
        img
          width: 100%
        p
          background-color: secondary_background
          padding: extra_padding
        &>*:nth-child(4n - 1)
          grid-column: 2
        &>*:nth-child(4n)
          grid-column: 1
        &>*:nth-child(4n - 1):last-child
          grid-column: 1
  .about-section
    font-size: about_font_size
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: secondary_background;
    padding: main_padding about_section_padding about_section_padding
    gap: extra_padding
    margin: extra_padding about_section_margin

  .row
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: main_padding 0
    margin: main_padding 0
    .column
      flex: 1 1 column_width
      display: flex
      flex-direction: column
      align-items: center
      font-size: column_font_size
      color: column_font_color
      padding: column_padding
      gap: main_padding
      &:nth-child(odd)
        background-color: secondary_background
      h2
        color: title_color
      p
        flex: 1