@require 'common'

font_size = 18px

#navbar
  display: flex
  justify-content: flex-end
  background-color: secondary_color
  padding: small_padding
  gap: medium_padding
  font-size: font_size
  a
    color: secondary_font_color