@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap')

main_font = "Carrois Gothic"
background = #EDEDEE
secondary_background = #E3E3E3
main_font_color = black
main_font_size = 20px
small_font_size = 14px
title_color = #3C6E71
secondary_color = #284B63
secondary_font_color = white
tertiary_color = #2E848A
top_level_background = #383838
second_level_background = #666666
alternate_background = #D9D9D9

small_padding = 10px
medium_padding = 20px
main_padding = 30px
extra_padding = 50px

h1_size = 45px
h2_size = 35px
h3_size = 25px

large_h1_size = 80px
large_h2_size = 60px
large_h3_size = 40px

header_icon_size = 100px
header_title_size = 40px
header_padding = 40px
social_icon_size = 40px

navbar_font_size = 18px

container_margin = 20px 100px
container_width = 1400px

splash_padding = 150px 80px 80px
splash_spacing = 50px
splash_button_background =  #9c9c9c
splash_button_font_size = 30px

column_width = 400px
column_font_size = 20px
column_font_color = #828282
column_padding = 50px 20px 30px

button_padding = 24px 48px
button_border = solid 2px gray
button_radius = 2px

about_section_padding = 80px
about_section_margin = 150px
about_font_size = 23px

sidebar_width = 300px
info_width = 70%

logpile_enabled_color = rgb(27, 110, 24)
logpile_icon_button_size = 28px
logpile_icon_button_padding = 4px
logpile_controls_size = 200px

logpile_list_indent = 30px
logpile_row_padding = 3px
