@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap')

main_font = "Carrois Gothic"
background = #EDEDEE
secondary_background = #E3E3E3
main_font_color = black
main_font_size = 1.25rem
small_font_size = 1rem
title_color = #3C6E71
secondary_color = #284B63
secondary_font_color = white
tertiary_color = #2E848A
top_level_background = #383838
second_level_background = #666666
alternate_background = #D9D9D9
main_page_width = 200rem

small_padding = 0.6rem
medium_padding = 1.25rem
main_padding = 1.9rem
extra_padding = 3.1rem

h1_size = 2.8rem
h2_size = 2.2rem
h3_size = 1.6rem

large_h1_size = 6rem
large_h2_size = 4rem
large_h3_size = 2.5rem

header_icon_size = 6rem
header_title_size = 2.5rem
header_padding = 2.5rem
social_icon_size = 2.5rem

navbar_font_size = 1.13rem

container_margin = 1.25rem auto
container_width = 90rem

splash_padding = 9.4rem 5rem 5rem
splash_spacing = 4rem
splash_button_background =  #9c9c9c
splash_button_font_size = 1.9rem

column_width = 23rem
column_font_size = 1.25rem
column_font_color = #828282
column_padding = 3.1rem 1.25rem 1.9rem

button_padding = 1.5rem 3rem
button_border = solid 2px gray
button_radius = 2px

tooltip_radius = 0.37rem

about_section_padding = 5rem
about_section_margin = 9.4rem
about_font_size = 1.44rem

sidebar_width = 16rem
info_width = 70%

logpile_enabled_color = rgb(27, 110, 24)
logpile_icon_button_size = 2.25rem
logpile_icon_button_padding = 0.25rem
logpile_controls_size = 12rem
logpile_script_size = 14rem
logpile_button_padding = 0.93rem

logpile_list_indent = 1.9rem
logpile_row_padding = 0.18rem

author_icon_size = 3.75rem
page_card_width = 25rem
excerpt_font_size = 1.125rem
page_card_max_image_height = 12rem

media_breakpoint = 768px

menu_button_size = 2rem